In [14]:
#QUOTA SHARE REINSURANCE
class QuotaShare(object):
    def __init__(self, data_file_name):
        import pandas as pd
        import numpy as np 

        np.random.seed(1)
        
        self.data = pd.read_csv(data_file_name)
        self.data = self.data[["ID","CLM_AMT"]]
        self.data = self.data.replace({"\$":"",",":""},regex=True).astype(int) #trasformo in integer e rimuovo simbolo dollaro
        self.data["PREM"] = np.random.randint(low=500, high=4000,size = len(self.data))
    
    def apply_treaty_structure(self,cession_rate,commission_rate,rows):
        self.data["CLM_CEDED"] = self.data["CLM_AMT"]* cession_rate#nuova colonna creata. amount paid by reinsurer, esempio 40% quota share allora il reinsurer pagherà il 40% del claim
        self.data["PREM_CEDED"] = self.data["PREM"]* cession_rate # nuova colonna creata
        self.data["CEDING_COMMISSION"] = self.data["PREM_CEDED"] * commission_rate # nota che il commission rate si applica al PREMIUM CEDED
        self.data["CLM_NET"] = self.data["CLM_AMT"]* (1-cession_rate) #what the primary insurance company retains, ovvero net claim amount
        self.data["PREM_NET"] = self.data["PREM"] * (1-cession_rate) + self.data["CEDING_COMMISSION"]

        return self.data.head(rows)

In [15]:
qs = QuotaShare("/Users/manfredi/Desktop/python-introduction-main/actuarial/dati/car_insurance_claim.csv")
print(qs.data.head(10)) # every policy is gonna pay a premium, but not every policy will have a claim
qs.apply_treaty_structure(0.4,0.22,10) # immagina cession rate = 22% e vogliamo 10 righe

          ID  CLM_AMT  PREM
0   63581743        0  1561
1  132761049        0   735
2  921317019        0  1596
3  727598473        0  1405
4  450221861        0  3263
5  743146596        0  3395
6  871024631     2946  1460
7  792300541        0   644
8    7945239     6477   629
9    3577610        0  3297

,ID,CLM_AMT,PREM,CLM_CEDED,PREM_CEDED,CEDING_COMMISSION,CLM_NET,PREM_NET
0,63581743,0,1561,0.0,624.4,137.368,0.0,1073.968
1,132761049,0,735,0.0,294.0,64.680,0.0,505.680
2,921317019,0,1596,0.0,638.4,140.448,0.0,1098.048
3,727598473,0,1405,0.0,562.0,123.640,0.0,966.640
4,450221861,0,3263,0.0,1305.2,287.144,0.0,2244.944
5,743146596,0,3395,0.0,1358.0,298.760,0.0,2335.760
6,871024631,2946,1460,1178.4,584.0,128.480,1767.6,1004.480
7,792300541,0,644,0.0,257.6,56.672,0.0,443.072
8,7945239,6477,629,2590.8,251.6,55.352,3886.2,432.752
9,3577610,0,3297,0.0,1318.8,290.136,0.0,2268.336

In [17]:
import pandas as pd
import numpy as np
df = pd.read_csv("/Users/manfredi/Desktop/python-introduction-main/actuarial/dati/car_insurance_claim.csv")
df.head()
df = df[["ID","CLM_AMT"]]
df = df.replace({"\$":""},regex=True)
df.head(10)
#uso solo ID e CLM_AMT. 
#Devo pulire la colonna CLM_AMT perchè è una stringa(c'é simbolo dollaro)

          ID CLM_AMT
0   63581743       0
1  132761049       0
2  921317019       0
3  727598473       0
4  450221861       0
5  743146596       0
6  871024631   2,946
7  792300541       0
8    7945239   6,477
9    3577610       0